body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    background-image: url('nvpost11.jpg');
    background-size: cover;
    z-index: -1;
}

.container {
    width: 800px;
    margin: 50px auto;
    padding: 30px;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.logo {
    width: 90px;
    height: auto;
    display: block;
    margin: 0 auto 20px;
}

h2 {
    margin-bottom: 20px;
    color: #333;
}

.section {
    margin-bottom: 40px;
}

h3 {
    margin-bottom: 15px;
    color: #444;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #555;
}

input[type="text"],
input[type="number"],
select,
textarea {
    width: calc(100% - 22px);
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

button {
    background-color: #1908ff;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0043e0;
}

#message {
    margin-top: 10px;
    color: #f00;
}

#groupe-weight,
#destination-group {
    display: none;
}
.buttons-container {
    position:absolute;
    top: 0;
    left: 6%; /* pour centrer horizontalement */
    transform: translate(107%,120%) ;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
    border: 1px solid #b3b3b3;
   
}

.custom-btn {
    background-color: #1908ff; /* Blue */
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block; /* Permet d'ajuster la largeur des boutons */
    font-size: 16px;
    margin: 0 10px; /* Ajoute un espacement entre les boutons */
    cursor: pointer;
    border-radius: 5px;
}

.custom-btn:hover {
    background-color: #0056b3; /* Darker Blue */
}
.logo {
    width: 90px; /* Taille du logo */
    height: auto; /* Permet de conserver les proportions */
    display: block; /* Pour centrer le logo */
    margin: 0 auto 20px; /* Ajoute un espace en dessous du logo */
}


table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  table, th, td {
    border: 1px solid black;
    padding: 8px;
  }
  
  th {
    background-color: #f2f2f2;
  }
  
  td {
    text-align: center;
  }