body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
    background-image: url('nvpost11.jpg');
    background-size:120%;
    z-index: -1;
}

.container {
    width: 800px;
    margin: 50px auto;
    padding: 50px;
    border-radius:30px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    text-align: center;
    margin-bottom: 20px;
}

.logo {
    width: 100px;
    height: auto;
    margin-bottom: 20px;
}

.header h1 {
    font-size: 24px;
    margin-top: 0;
}

.main-content {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.user-space, .employee-space {
    width: 30%; /* Ajustez la largeur selon vos besoins */
}

.user-space h2, .employee-space h2 {
    text-align: center;
    margin-bottom: 20px;
}

.user-button, .employee-button {
    display: block;
    margin: 0 auto;
    padding: 13px 20px; /* Ajustez la taille des boutons selon vos besoins */
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.user-button:hover, .employee-button:hover {
    background-color: #0056b3;
}
